@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}



/* shared style */

body {
    font-family: "Work Sans", sans-serif;
}

.d-flex {
    display: flex;
}

.primary-btn {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 15px;
    border: none;
}

.main-section {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 75px;
}





/* header section start from here */

.header-section {
    background-color: rgba(255, 144, 14, 0.1);
    max-width: 1920px;
}

.nav-title>h2 {
    color: rgb(19, 19, 19);
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}

.nav-section {
    justify-content: space-between;
    padding: 50px 240px 102px 228px;
    align-items: center;
}

.nav-ul {
    gap: 35px;
    align-items: center;
    list-style: none;
}

.nav-ul a {
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 1.12rem;
    font-weight: 500;
}

/* nav section media query start here */

@media screen and (max-width:576px) {

    .nav-section,
    .nav-ul {
        flex-direction: column;
    }

    .nav-section {
        padding: 10px 12px 10px 12px;
    }

    .nav-ul {
        gap: 15px;
    }

    .nav-title {
        padding-bottom: 30px;
    }
}

/* brand section start here */

.brand-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.brand-info>h2 {
    color: rgb(19, 19, 19);
    font-size: 3.9rem;
    font-weight: 700;
    padding-bottom: 30px;
}

.brand-info>p {
    max-width: 868px;
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
}

.brand-img>img {
    width: 100%;
    border-radius: 8px;
    background: url(group-three-modern-architects);
}

/* main tag started here */

/* features section started here */
.feature-section {
    width: 100%;
}

.feature-container {
    align-items: center;
    /* justify-content: center; */
    gap: 73px;
}

.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.feature-info {
    flex-direction: column;
    gap: 28px;
}

.feature-info>h2 {
    font-family: Work Sans;
    font-size: 2.9rem;
    font-weight: 700;

}

.feature-info>p {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;

}

#quick {
    color: rgb(114, 114, 114);
    font-weight: 500;
}

#features {
    color: rgb(255, 144, 14);
}

/* media query features section started here  */

@media screen and (max-width:576px) {
    .feature-container {
        flex-direction: column;
        gap: 10px
    }

    .feature-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-info {
        text-align: center;
        padding: 10px;
    }

    .feature-info>p {
        width: fit-content;
    }


}


/* love section start from here */


.love-section {
    width: 100%;
    margin-top: 110px;
}

.love-conteiner {
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 146px;
}

.love-content {
    flex-direction: column;
    gap: 60px;
}

.love-title {
    flex-direction: column;
    gap: 24px;
}

.love-title>h2 {
    color: rgb(19, 19, 19);
    font-size: 2.81rem;
    font-weight: 700;
    padding-right: 20px;

}

#border-left {
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 21px;

}

.love-title>P {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
    max-width: 586px;

}

.love-info {
    flex-direction: column;
    gap: 20px;
}

.love-h-p {
    flex-direction: column;
    gap: 10px;
    padding: 30px 42px 30px 30px;
    border-radius: 8px;
    max-width: 514px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

.love-h-p>h2 {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
}

.love-h-p>p {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
}

.love-img img {
    width: 100%;

}

.love-btn {
    padding: 30px 45px;
    font-size: 3rem;
    font-weight: 700;
    margin-top: -100px;
    margin-left: -90px;

}

#experience {
    font-size: 1.5rem;
    font-weight: 500;
}

/* media query of love section start from here */

@media screen and (max-width:576px) {
    .love-conteiner {
        flex-direction: column;
    }

    .love-img img {
        max-width: 100%;
    }

    .love-btn {
        margin: -50px 0px 0px 60px;

    }
}

/* some facts section started here */
.facts-section{
    margin-top: 150px ;
}

.facts-info {
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    
}

.facts-title {
    color: rgb(19, 19, 19);
    font-size: 2rem;
    font-weight: 700;
}

.facts-perag{
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
}

/* media query of some facts section started here */

@media screen and (max-width:576px){
    .facts-title,
    .facts-perag{
        padding: 15px;
    }
    .facts-perag{
        margin-top:-20px ;
    }
    .facts-info {
        /* gap: 2px; */
    }
    .facts-section{
        margin-top: 80px ;
    }
}